@media screen and (max-width:600px) {
    .opcion {
        display: none;
        /*ocultar*/
    }

    .op-barras {
        display: block;
        /*mostrar*/
        margin-right: 20px;
    }

    .nav-1 {
        width: 80vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 15px;
        padding-top: 15px;
    }

    header {
        width: 100vw;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    section {
        display: none;
    }

    .header-1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../Recursos/fondo3.jpg) no-repeat;
        background-size: cover;
    }

    .header-2 {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../Recursos/fondo4.jpg) no-repeat;
        background-size: cover;
    }

    p {
        padding: 60px;

    }

    h1 {
        text-align: center;
    }

    .menu-adaptable{
        width:100vw;
        height:35vh;
        background:rgba(0,0,0,0.7);
        position:fixed;
        top:10vh;
        left:0;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .menu-oculto{
        display:flex;
        align-items:flex-start;
        justify-content:flex-start;
        flex-direction:column;
    }
    .menu-hover:hover{
        color:aqua;
    }
    nav{  background:rgba(0,0,0,0.7);}

}